<ion-menu side="start" menuId="firstMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="aet">
      <ion-title>Aeternity</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-menu-toggle autoHide="false" >
        <ion-item button color="dacade" (click)="addBalance()">
          <ion-icon slot="start" name="cash"></ion-icon>
          <ion-label>Add Balance</ion-label>
        </ion-item>
        <ion-item button color="danger" (click)="onLogout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-menu-toggle>
  </ion-content>
</ion-menu>